.content {
    max-width: 600px;
    margin: auto;
}

a {
    color: #4096ff;
    text-decoration: none;
}

blockquote {
    border-left: solid gray;
    padding-left: 4px;
    color: gray;
}

table {
    margin: auto;
    border: 1px solid gray;
    border-collapse: collapse;
    width: 100%;
    font-size: small;
    text-align: center;
}

td {
    border: solid 1px gray;
    vertical-align: middle;
    height: 40px;
}